openapi: 3.0.0
info:
  title: Users API
  version: 1.0.0
  description: API for user management

servers:
  - url: http://localhost:3000
  - url: https://prause-tp4-production.up.railway.app

paths:
  /users/register:
    post:
      tags:
        - Users
      summary: Register user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Register"
      responses:
        201:
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterResponse"
        400:
          description: Email already registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /users/login:
    post:
      tags:
        - Users
      summary: User login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Login"
      responses:
        200:
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        401:
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  
  /users/{id}:
    put:
      tags:
        - Users
      summary: Update user
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: User ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Update"
      responses:
        200:
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateResponse"
        404:
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    
    delete:
      tags:
        - Users
      summary: Delete user
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: User ID
      responses:
        200:
          description: User deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponse"
        404:
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    
    get:
      tags:
        - Users
      summary: Get user by ID
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: User ID
      responses:
        200:
          description: User retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: "#/components/schemas/UserResponse"
        404:
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /users/me:
    get:
      tags:
        - Users
      summary: Get current user profile
      security:
        - BearerAuth: []
      responses:
        200:
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: "#/components/schemas/UserResponse"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /users:
    get:
      tags:
        - Users
      summary: Get all users
      security:
        - BearerAuth: []
      responses:
        200:
          description: Users retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: "#/components/schemas/UserResponse"

components:
  schemas:
    Register:
      type: object
      required:
        - name
        - email
        - password
      properties:
        name:
          type: string
          description: User name
          example: John Johnson
        email:
          type: string
          description: User email
          example: john@mail.com
        password:
          type: string
          description: User password
          example: "1234"
          
    Login:
      type: object
      required:
       - email
       - password
      properties:
        email:
          type: string
          description: User email
          example: john@mail.com
        password:
          type: string
          description: User password
          example: "1234"

    Update:
      type: object
      properties:
        name:
          type: string
          description: User name
          example: John Jonas Johnson
        email:
          type: string
          description: User email
          example: johnj@mail.com
        password:
          type: string
          description: User password
          example: "5678"

    RegisterResponse:
      type: object
      properties:
        message:
          type: string
          example: User registered successfully
        user:
          $ref: "#/components/schemas/UserResponse"

    LoginResponse:
      type: object
      properties:
        message:
          type: string
          example: Login successful
        token:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        user:
          $ref: "#/components/schemas/UserResponse"

    UpdateResponse:
      type: object
      properties:
        message:
          type: string
          example: User updated successfully
        user:
          $ref: "#/components/schemas/UserResponse"

    DeleteResponse:
      type: object
      properties:
        message:
          type: string
          example: User deleted successfully

    UserResponse:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: John Johnson
        email:
          type: string
          example: john@mail.com

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: Invalid credentials

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT